
<div class="res">
  <div id = "count">
    <%= @messages.length %>
    <%= render 'queries' %>
  </div>
  <div class="containerList">
    <ul id="msgs">
      <% @messages.each do |item| %>
          <li>
            <%= item.text %>
            <%= item.created_at %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<%= form_with(model: @message, url: form_handler_path) do |f| %>
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.submit('Send')%>
    </p>
<% end %>